body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
    padding: 0px;
    margin: 0;
}

#loader {
    display: none;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.error {
    color: red;
}
.chart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.chart-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 450px;
overflow: hidden;
}
.chart-container {
    height: 400px;
}

canvas {
    height: 400px !important;
}